name: "Unit Tests"

on:
  workflow_call:
    secrets:
      CAP_GH_RELEASE_TOKEN:
        required: true
  push:
    branches:
      - 'test/android'

jobs:
  unit-test-android:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.CAP_GH_RELEASE_TOKEN || github.token }}
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: "Running Android Unit Tests"
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 31
          working-directory: ./packages/android-js-engine
          emulator-options: -no-window -no-audio -no-boot-anim -accel on -no-snapshot-save
          profile: pixel_6
          script: ./gradlew connectedCheck
