name: "Unit Tests"

on:
  workflow_call:
    secrets:
      CAP_GH_RELEASE_TOKEN:
        required: true

jobs:
  unit-test-ios:
    runs-on: macos-15
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.CAP_GH_RELEASE_TOKEN || github.token }}
      - name: List available Xcode versions
        run: ls /Applications | grep Xcode
      - name: Run ios-engine unit tests
        run: |
          cd ./packages/capacitor-plugin
          xcodebuild -scheme CapacitorBackgroundRunner -destination 'platform=iOS Simulator,OS=18.6,name=iPhone 16 Pro'
          xcodebuild test -scheme CapacitorBackgroundRunner -destination 'platform=iOS Simulator,OS=18.6,name=iPhone 16 Pro'

  unit-test-android:
    runs-on: macos-13
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.CAP_GH_RELEASE_TOKEN || github.token }}
      - name: "Running Android Unit Tests"
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 26
          working-directory: ./packages/android-js-engine
          emulator-options: -no-window -no-audio -no-boot-anim -accel on -no-snapshot-save
          profile: pixel_6
          script: ./gradlew connectedCheck
